<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Emocja</th>
        </tr>
    </thead>
    <tbody>
        @for (item of (emotions$ | async)?.items; track item; let i = $index) {
            <tr>
                <th scope="row">{{ i }}</th>
                <td>{{ item?.date | date:'yyyy.MM.dd hh:mm' }}</td>
                <td>{{ item.name }}</td>
            </tr>
        } @empty {
            <tr>
                <td colspan="3">There are no items.</td>
            </tr>
        }
    </tbody>
</table>
