<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Emocja</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (emotion of (emotions$ | async)?.items; track emotion; let i = $index) {
            <tr>
                <th scope="row">{{ i }}</th>
                <td>{{ emotion?.date | date:'yyyy.MM.dd HH:mm' }}</td>
                <td>{{ emotion.name }}</td>
                <td>
                    <button type="button" class="btn-close" (click)="deleteEmotion(emotion)"></button>
                </td>
            </tr>
        } @empty {
            <tr>
                <td colspan="4">Kliknij na emocję powyżej aby dodać</td>
            </tr>
        }
    </tbody>
</table>
