<img src="emotion-whell.jpg" usemap="#map" />

<map name="map">
  <area (click)="emotionClicked($event)" data-emotion-name="przytłoczony" shape="poly" coords="307, 104, 292, 104, 290, 2, 312, 3" />
  <area (click)="emotionClicked($event)" data-emotion-name="pośpieszany" shape="poly" coords="323, 103, 307, 103, 312, 3, 335, 3" />
  <area (click)="emotionClicked($event)" data-emotion-name="pod presją" shape="poly" coords="336, 106, 324, 105, 335, 4, 358, 7" />
  <area (click)="emotionClicked($event)" data-emotion-name="apatyczny" shape="poly" coords="351, 111, 336, 108, 358, 8, 379, 12" />
  <area (click)="emotionClicked($event)" data-emotion-name="obojętny" shape="poly" coords="365, 117, 351, 113, 380, 12, 400, 19" />
  <area (click)="emotionClicked($event)" data-emotion-name="bezsilny" shape="poly" coords="379, 120, 365, 116, 401, 20, 422, 28" />
  <area (click)="emotionClicked($event)" data-emotion-name="zastraszony" shape="poly" coords="391, 128, 379, 122, 423, 28, 443, 38" />
  <area (click)="emotionClicked($event)" data-emotion-name="przytłoczony" shape="poly" coords="405, 135, 392, 129, 443, 38, 462, 49" />
  <area (click)="emotionClicked($event)" data-emotion-name="zamartwiony" shape="poly" coords="405, 137, 462, 50, 480, 63, 417, 144" />
  <area (click)="emotionClicked($event)" data-emotion-name="niewystarczający" shape="poly" coords="428, 154, 415, 146, 480, 63, 498, 76" />
  <area (click)="emotionClicked($event)" data-emotion-name="podrzędny" shape="poly" coords="428, 154, 439, 166, 514, 90, 497, 78" />
  <area (click)="emotionClicked($event)" data-emotion-name="bezwartościowy" shape="poly" coords="449, 175, 532, 109, 515, 92, 440, 166" />
  <area (click)="emotionClicked($event)" data-emotion-name="nieistotny" shape="poly" coords="448, 175, 458, 187, 546, 126, 531, 109" />
  <area (click)="emotionClicked($event)" data-emotion-name="wyobcowany" shape="poly" coords="457, 186, 465, 199, 555, 146, 545, 128" />
  <area (click)="emotionClicked($event)" data-emotion-name="niepasujący" shape="poly" coords="472, 212, 567, 166, 556, 147, 465, 201" />
  <area (click)="emotionClicked($event)" data-emotion-name="nerwowy" shape="poly" coords="472, 212, 479, 223, 576, 187, 567, 168" />
  <area (click)="emotionClicked($event)" data-emotion-name="zdemaskowany" shape="poly" coords="479, 226, 484, 238, 585, 208, 576, 189" />
  <area (click)="emotionClicked($event)" data-emotion-name="zdradzony" shape="poly" coords="486, 252, 591, 230, 584, 210, 483, 240" />
  <area (click)="emotionClicked($event)" data-emotion-name="urażony" shape="poly" coords="486, 254, 490, 268, 594, 252, 590, 231" />
  <area (click)="emotionClicked($event)" data-emotion-name="zlekcoważony" shape="poly" coords="489, 282, 599, 277, 592, 254, 487, 270" />
  <area (click)="emotionClicked($event)" data-emotion-name="ośmieszony" shape="poly" coords="491, 284, 491, 297, 597, 296, 596, 276" />
  <area (click)="emotionClicked($event)" data-emotion-name="zgorszony" shape="poly" coords="492, 313, 597, 321, 598, 298, 491, 300" />
  <area (click)="emotionClicked($event)" data-emotion-name="zbeszczeszczony" shape="poly" coords="492, 315, 491, 325, 595, 345, 597, 322" />
  <area (click)="emotionClicked($event)" data-emotion-name="niepewny" shape="poly" coords="488, 341, 490, 327, 595, 345, 592, 367" />
  <area (click)="emotionClicked($event)" data-emotion-name="zazdrosny" shape="poly" coords="483, 356, 584, 389, 592, 367, 486, 343" />
  <area (click)="emotionClicked($event)" data-emotion-name="wrogo nastawiony" shape="poly" coords="484, 357, 478, 368, 578, 409, 585, 390" />
  <area (click)="emotionClicked($event)" data-emotion-name="sprowokowany" shape="poly" coords="472, 383, 568, 432, 577, 410, 477, 370" />
  <area (click)="emotionClicked($event)" data-emotion-name="oburzony" shape="poly" coords="473, 385, 465, 395, 556, 449, 567, 433" />
  <area (click)="emotionClicked($event)" data-emotion-name="poirytowany" shape="poly" coords="456, 408, 547, 473, 557, 448, 464, 395" />
  <area (click)="emotionClicked($event)" data-emotion-name="zamknięty w sobie" shape="poly" coords="458, 408, 448, 421, 529, 490, 546, 471" />
  <area (click)="emotionClicked($event)" data-emotion-name="podejrzliwy" shape="poly" coords="441, 432, 448, 421, 529, 491, 516, 508" />
  <area (click)="emotionClicked($event)" data-emotion-name="sceptyczny" shape="poly" coords="428, 442, 437, 432, 516, 508, 498, 521" />
  <area (click)="emotionClicked($event)" data-emotion-name="sarkastyczny" shape="poly" coords="415, 452, 428, 443, 497, 521, 482, 537" />
  <area (click)="emotionClicked($event)" data-emotion-name="niechętny" shape="poly" coords="404, 460, 416, 452, 479, 535, 461, 548" />
  <area (click)="emotionClicked($event)" data-emotion-name="krytykancki" shape="poly" coords="390, 468, 405, 461, 462, 548, 443, 560" />
  <area (click)="emotionClicked($event)" data-emotion-name="zbuntowany" shape="poly" coords="378, 472, 390, 467, 441, 559, 422, 570" />
  <area (click)="emotionClicked($event)" data-emotion-name="antypatyczny" shape="poly" coords="364, 480, 378, 473, 421, 570, 401, 579" />
  <area (click)="emotionClicked($event)" data-emotion-name="podburzony" shape="poly" coords="351, 484, 364, 478, 400, 579, 380, 586" />
  <area (click)="emotionClicked($event)" data-emotion-name="obrzydzony" shape="poly" coords="337, 487, 352, 484, 379, 586, 357, 591" />
  <area (click)="emotionClicked($event)" data-emotion-name="czujący odrazę" shape="poly" coords="323, 489, 337, 488, 356, 591, 334, 596" />
  <area (click)="emotionClicked($event)" data-emotion-name="niepewny" shape="poly" coords="308, 490, 323, 489, 333, 594, 311, 597" />
  <area (click)="emotionClicked($event)" data-emotion-name="zlekcoważony" shape="poly" coords="292, 490, 308, 490, 312, 595, 290, 594" />
  <area (click)="emotionClicked($event)" data-emotion-name="rozczarowany" shape="poly" coords="277, 490, 292, 491, 289, 596, 267, 594" />
  <area (click)="emotionClicked($event)" data-emotion-name="gorszy od innych" shape="poly" coords="263, 488, 278, 489, 266, 593, 243, 590" />
  <area (click)="emotionClicked($event)" data-emotion-name="wyczerpany" shape="poly" coords="248, 484, 262, 489, 243, 591, 221, 585" />
  <area (click)="emotionClicked($event)" data-emotion-name="skruszony" shape="poly" coords="234, 480, 248, 484, 221, 586, 198, 578" />
  <area (click)="emotionClicked($event)" data-emotion-name="zawstydzony" shape="poly" coords="221, 473, 235, 481, 199, 579, 175, 569" />
  <area (click)="emotionClicked($event)" data-emotion-name="bezsilny" shape="poly" coords="207, 467, 220, 476, 178, 570, 155, 558" />
  <area (click)="emotionClicked($event)" data-emotion-name="w bólu, w żałobie" shape="poly" coords="136, 548, 156, 561, 208, 465, 197, 459" />
  <area (click)="emotionClicked($event)" data-emotion-name="słabowity" shape="poly" coords="119, 533, 137, 547, 196, 460, 186, 449" />
  <area (click)="emotionClicked($event)" data-emotion-name="prześladowany" shape="poly" coords="102, 520, 119, 536, 186, 450, 173, 441" />
  <area (click)="emotionClicked($event)" data-emotion-name="porzucony" shape="poly" coords="84, 503, 103, 522, 173, 443, 160, 429" />
  <area (click)="emotionClicked($event)" data-emotion-name="odizolowany" shape="poly" coords="69, 487, 85, 503, 161, 433, 150, 420" />
  <area (click)="emotionClicked($event)" data-emotion-name="zainspirowany" shape="poly" coords="56, 469, 69, 485, 152, 419, 143, 407" />
  <area (click)="emotionClicked($event)" data-emotion-name="pełen nadziei" shape="poly" coords="43, 452, 57, 469, 144, 408, 134, 393" />
  <area (click)="emotionClicked($event)" data-emotion-name="figlarny" shape="poly" coords="33, 432, 45, 453, 135, 396, 125, 382" />
  <area (click)="emotionClicked($event)" data-emotion-name="czuły" shape="poly" coords="25, 410, 33, 431, 128, 383, 123, 368" />
  <area (click)="emotionClicked($event)" data-emotion-name="wdzięczny" shape="poly" coords="16, 389, 25, 411, 123, 369, 117, 353" />
  <area (click)="emotionClicked($event)" data-emotion-name="kochający" shape="poly" coords="12, 365, 15, 387, 118, 356, 113, 343" />
  <area (click)="emotionClicked($event)" data-emotion-name="kreatywny" shape="poly" coords="8, 344, 11, 365, 114, 342, 110, 323" />
  <area (click)="emotionClicked($event)" data-emotion-name="odważny" shape="poly" coords="5, 322, 6, 344, 109, 327, 106, 312" />
  <area (click)="emotionClicked($event)" data-emotion-name="doceniony" shape="poly" coords="2, 301, 3, 322, 105, 315, 106, 296" />
  <area (click)="emotionClicked($event)" data-emotion-name="szanowany" shape="poly" coords="3, 277, 5, 297, 105, 300, 106, 282" />
  <area (click)="emotionClicked($event)" data-emotion-name="pewny siebie" shape="poly" coords="7, 254, 3, 276, 106, 284, 112, 266" />
  <area (click)="emotionClicked($event)" data-emotion-name="ważny" shape="poly" coords="11, 229, 5, 254, 111, 269, 114, 254" />
  <area (click)="emotionClicked($event)" data-emotion-name="dociekliwy" shape="poly" coords="16, 210, 9, 229, 111, 255, 117, 241" />
  <area (click)="emotionClicked($event)" data-emotion-name="zaciekawiony" shape="poly" coords="26, 187, 18, 207, 119, 243, 123, 227" />
  <area (click)="emotionClicked($event)" data-emotion-name="wesoły" shape="poly" coords="33, 167, 25, 188, 123, 228, 127, 215" />
  <area (click)="emotionClicked($event)" data-emotion-name="wolny" shape="poly" coords="42, 146, 32, 167, 127, 215, 136, 200" />
  <area (click)="emotionClicked($event)" data-emotion-name="pobudzony" shape="poly" coords="58, 127, 43, 149, 137, 201, 143, 186" />
  <area (click)="emotionClicked($event)" data-emotion-name="zuchwały" shape="poly" coords="72, 110, 58, 128, 142, 186, 152, 175" />
  <area (click)="emotionClicked($event)" data-emotion-name="energiczny" shape="poly" coords="87, 91, 72, 108, 151, 177, 163, 166" />
  <area (click)="emotionClicked($event)" data-emotion-name="ochoczy" shape="poly" coords="105, 75, 88, 92, 163, 165, 176, 156" />
  <area (click)="emotionClicked($event)" data-emotion-name="zadziwiony" shape="poly" coords="118, 61, 105, 77, 175, 156, 184, 143" />
  <area (click)="emotionClicked($event)" data-emotion-name="zatrwożony" shape="poly" coords="139, 49, 120, 62, 181, 144, 195, 134" />
  <area (click)="emotionClicked($event)" data-emotion-name="rozczarowany" shape="poly" coords="159, 37, 139, 50, 194, 134, 209, 126" />
  <area (click)="emotionClicked($event)" data-emotion-name="zakłopotany" shape="poly" coords="178, 24, 159, 36, 209, 128, 224, 120" />
  <area (click)="emotionClicked($event)" data-emotion-name="skonsternowany" shape="poly" coords="202, 17, 180, 27, 223, 123, 237, 114" />
  <area (click)="emotionClicked($event)" data-emotion-name="wstrząśnięty" shape="poly" coords="221, 14, 201, 18, 236, 116, 250, 111" />
  <area (click)="emotionClicked($event)" data-emotion-name="rozkojarzony" shape="poly" coords="245, 7, 222, 12, 250, 110, 267, 106" />
  <area (click)="emotionClicked($event)" data-emotion-name="senny" shape="poly" coords="267, 1, 281, 105, 265, 107, 244, 6" />
  <area (click)="emotionClicked($event)" data-emotion-name="tracący kontrolę" shape="poly" coords="271, 3, 290, 1, 293, 105, 279, 105" />
  <area (click)="emotionClicked($event)" data-emotion-name="odrzucony" shape="poly" coords="457, 188, 473, 212, 388, 254, 380, 240" />
  <area (click)="emotionClicked($event)" data-emotion-name="uległy" shape="poly" coords="441, 165, 457, 188, 380, 242, 368, 233" />
  <area (click)="emotionClicked($event)" data-emotion-name="niepewny" shape="poly" coords="415, 146, 441, 166, 367, 234, 358, 220" />
  <area (click)="emotionClicked($event)" data-emotion-name="niespokojny" shape="poly" coords="391, 127, 415, 146, 360, 222, 345, 214" />
  <area (click)="emotionClicked($event)" data-emotion-name="przestraszony" shape="poly" coords="366, 116, 392, 129, 345, 215, 333, 207" />
  <area (click)="emotionClicked($event)" data-emotion-name="zastraszony" shape="poly" coords="485, 240, 473, 213, 387, 255, 394, 267" />
  <area (click)="emotionClicked($event)" data-emotion-name="rozczarowany" shape="poly" coords="484, 240, 492, 268, 396, 283, 394, 268" />
  <area (click)="emotionClicked($event)" data-emotion-name="upokorzony" shape="poly" coords="490, 270, 492, 299, 395, 297, 396, 285" />
  <area (click)="emotionClicked($event)" data-emotion-name="nienawistny" shape="poly" coords="491, 326, 493, 297, 397, 300, 395, 311" />
  <area (click)="emotionClicked($event)" data-emotion-name="zagrożony" shape="poly" coords="491, 326, 484, 353, 389, 327, 395, 314" />
  <area (click)="emotionClicked($event)" data-emotion-name="agresywny" shape="poly" coords="472, 384, 485, 356, 390, 328, 386, 339" />
  <area (click)="emotionClicked($event)" data-emotion-name="sfrustrowany" shape="poly" coords="472, 384, 457, 409, 377, 351, 386, 341" />
  <area (click)="emotionClicked($event)" data-emotion-name="zdystansowany" shape="poly" coords="367, 365, 437, 432, 457, 410, 377, 352" />
  <area (click)="emotionClicked($event)" data-emotion-name="krytyczny" shape="poly" coords="369, 366, 359, 372, 416, 453, 438, 432" />
  <area (click)="emotionClicked($event)" data-emotion-name="nieprzychylny" shape="poly" coords="346, 384, 360, 374, 415, 454, 392, 470" />
  <area (click)="emotionClicked($event)" data-emotion-name="rozczarowany" shape="poly" coords="334, 388, 346, 381, 391, 467, 368, 480" />
  <area (click)="emotionClicked($event)" data-emotion-name="czujący się podle" shape="poly" coords="321, 390, 332, 387, 365, 480, 336, 488" />
  <area (click)="emotionClicked($event)" data-emotion-name="stroniący" shape="poly" coords="304, 394, 321, 392, 336, 487, 307, 491" />
  <area (click)="emotionClicked($event)" data-emotion-name="zraniony" shape="poly" coords="292, 395, 306, 394, 307, 491, 275, 492" />
  <area (click)="emotionClicked($event)" data-emotion-name="przygnębiony" shape="poly" coords="274, 391, 291, 397, 276, 491, 248, 482" />
  <area (click)="emotionClicked($event)" data-emotion-name="winny" shape="poly" coords="261, 387, 273, 392, 247, 484, 222, 474" />
  <area (click)="emotionClicked($event)" data-emotion-name="zrozpaczony" shape="poly" coords="247, 382, 261, 390, 221, 477, 196, 460" />
  <area (click)="emotionClicked($event)" data-emotion-name="zraniony" shape="poly" coords="170, 440, 233, 374, 247, 383, 195, 460" />
  <area (click)="emotionClicked($event)" data-emotion-name="samotny" shape="poly" coords="151, 420, 225, 360, 232, 374, 171, 442" />
  <area (click)="emotionClicked($event)" data-emotion-name="optymistyczny" shape="poly" coords="136, 397, 151, 421, 227, 360, 219, 351" />
  <area (click)="emotionClicked($event)" data-emotion-name="czujący bliskość" shape="poly" coords="135, 398, 122, 371, 214, 336, 219, 351" />
  <area (click)="emotionClicked($event)" data-emotion-name="spokojny" shape="poly" coords="206, 318, 113, 346, 121, 369, 212, 335" />
  <area (click)="emotionClicked($event)" data-emotion-name="pełen siły" shape="poly" coords="204, 305, 105, 311, 113, 346, 206, 321" />
  <area (click)="emotionClicked($event)" data-emotion-name="akceptowany" shape="poly" coords="202, 291, 105, 284, 108, 313, 204, 307, 206, 287" />
  <area (click)="emotionClicked($event)" data-emotion-name="dumny" shape="poly" coords="113, 253, 107, 284, 205, 292, 207, 273" />
  <area (click)="emotionClicked($event)" data-emotion-name="zainteresowany" shape="poly" coords="122, 226, 113, 252, 207, 277, 210, 260" />
  <area (click)="emotionClicked($event)" data-emotion-name="zadowolony" shape="poly" coords="135, 199, 122, 226, 208, 262, 215, 248" />
  <area (click)="emotionClicked($event)" data-emotion-name="żartobliwy" shape="poly" coords="152, 177, 134, 200, 214, 247, 226, 234" />
  <area (click)="emotionClicked($event)" data-emotion-name="podekscytowany" shape="poly" coords="173, 153, 153, 174, 223, 235, 237, 226" />
  <area (click)="emotionClicked($event)" data-emotion-name="zdumiony" shape="poly" coords="195, 135, 174, 155, 237, 227, 248, 219" />
  <area (click)="emotionClicked($event)" data-emotion-name="zmieszany" shape="poly" coords="222, 122, 198, 136, 249, 220, 262, 210" />
  <area (click)="emotionClicked($event)" data-emotion-name="przestraszony" shape="poly" coords="248, 112, 223, 123, 259, 209, 276, 201" />
  <area (click)="emotionClicked($event)" data-emotion-name="zmęczony" shape="poly" coords="276, 107, 251, 114, 276, 203, 292, 201" />
  <area (click)="emotionClicked($event)" data-emotion-name="zestresowany" shape="poly" coords="307, 104, 278, 109, 290, 201, 307, 199" />
  <area (click)="emotionClicked($event)" data-emotion-name="zapracowany" shape="poly" coords="336, 107, 308, 107, 304, 203, 322, 203" />
  <area (click)="emotionClicked($event)" data-emotion-name="znudzony" shape="poly" coords="337, 109, 366, 119, 335, 207, 321, 204" />
  <area (click)="emotionClicked($event)" data-emotion-name="smutny" shape="poly" coords="304, 395, 290, 396, 272, 393, 254, 387, 244, 379, 232, 372, 227, 363, 300, 299" />
  <area (click)="emotionClicked($event)" data-emotion-name="zniesmaczony" shape="poly" coords="359, 374, 343, 386, 330, 389, 305, 395, 302, 301" />
  <area (click)="emotionClicked($event)" data-emotion-name="rozgniewany" shape="poly" coords="394, 271, 396, 303, 392, 328, 381, 347, 368, 367, 359, 374, 302, 300" />
  <area (click)="emotionClicked($event)" data-emotion-name="lękliwy" shape="poly" coords="337, 211, 363, 225, 383, 247, 392, 269, 300, 299" />
  <area (click)="emotionClicked($event)" data-emotion-name="słaby" shape="poly" coords="333, 209, 316, 205, 293, 203, 277, 205, 302, 299" />
  <area (click)="emotionClicked($event)" data-emotion-name="zaskoczony" shape="poly" coords="301, 299, 272, 206, 253, 217, 228, 235" />
  <area (click)="emotionClicked($event)" data-emotion-name="szczęśliwy" shape="poly" coords="226, 238, 298, 301, 224, 362, 208, 331, 201, 300, 212, 253" />
</map>
